<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023245376291-bne6363tjv1smsgb6ic4vjqa8pg6l1d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023245376291-bne6363tjv1smsgb6ic4vjqa8pg6l1d8</string>
	<key>API_KEY</key>
	<string>AIzaSyADYgOtO05TCLlrvdG2FezatB0vWFp3GY0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023245376291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udeep500.logi</string>
	<key>PROJECT_ID</key>
	<string>udeep500</string>
	<key>STORAGE_BUCKET</key>
	<string>udeep500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023245376291:ios:334fe423063424f973ca96</string>
	<key>DATABASE_URL</key>
	<string>https://udeep500-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>